<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The PixelExperience Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture.overlay.xiaomi_beryllium">

    <overlay
        android:isStatic="true"
        android:priority="800"
        android:targetPackage="org.lineageos.aperture" />
</manifest>