on init
    # Goodix fingerprint
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/fingerdown_wait
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/regulator_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/screen_status
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vreg_op_cnt

    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chmod 0660 /sys/bus/platform/devices/soc:fingerprint_fpc/regulator_enable
    chmod 0660 /sys/bus/platform/devices/soc:fingerprint_fpc/screen_status
    chmod 0660 /sys/bus/platform/devices/soc:fingerprint_fpc/vreg_op_cnt

    chown system system /sys/devices/platform/soc/soc:fingerprint_goodix/proximity_state

    chmod 0666 /dev/input/event2

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/goodix/gf_data/authenticate 0770 system system
    mkdir /data/vendor/goodix/gf_data/enroll 0770 system system
    chown system system /data/vendor

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_sdm845
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
