<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The Android Open Source Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.internal.display.cutout.emulation.beryllium.noCutout"
	android:versionCode="1"
	android:versionName="1.0">
		
    <overlay android:targetPackage="android"
            android:category="com.android.internal.display_cutout_emulation"
            android:priority="850"/>

    <application android:label="@string/display_cutout_emulation_overlay" android:hasCode="false"/>
</manifest>
