type shal_livedisplay_default, domain;
hwbinder_use(shal_livedisplay_default)

type shal_livedisplay_default_exec, exec_type, file_type;
init_daemon_domain(shal_livedisplay_default)

# Add vendor.lineage.livedisplay::IColor service to hwservicemanager
add_hwservice(shal_livedisplay_default, shal_lineage_livedisplay_hwservice)

# Allow LiveDisplay to perform binder IPC to vendor.display.color::IDisplayColor
type hal_display_color_default, domain;
binder_call(shal_livedisplay_default, hal_display_color_default)

allow shal_livedisplay_default hal_display_color_hwservice:hwservice_manager find;

# Talk to the binder device node
allow shal_livedisplay_default binder_device:chr_file rw_file_perms;

# Check if hwservicemanager is ready
get_prop(shal_livedisplay_default, hwservicemanager_prop)

# Allow LiveDisplay to store files under /data/display and access them
allow shal_livedisplay_default display_data_file:dir rw_dir_perms;
allow shal_livedisplay_default display_data_file:file create_file_perms;

# Allow LiveDisplay to access pps socket
type mm-pp-daemon, domain;
unix_socket_connect(shal_livedisplay_default, pps, mm-pp-daemon)
