type pocketmode_app, domain;

app_domain(pocketmode_app)

# Allow pocketmode_app to find app_api_service
allow pocketmode_app app_api_service:service_manager find;

# Allow pocketmode_app read and write /data/data subdirectory
allow pocketmode_app system_app_data_file:dir create_dir_perms;
allow pocketmode_app system_app_data_file:{ file lnk_file } create_file_perms;

# Allow pocketmode_app to write to sysfs fingerprint nodes
allow pocketmode_app sysfs_fingerprint:file { w_file_perms getattr };
